.rating-level,
.rating-level a {
    background: url("img/rating.png") no-repeat scroll 1000px 1000px transparent;
}
.rating-bd {
    position: relative;
}
.shop-rating {
    height: 25px;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    z-index: 999;
}
.shop-rating span {
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
}
.shop-rating span.title {
    font-size: 14px;
    width: 100px;
    margin-right: 5px;
    text-align: right;
}
.shop-rating .result {
    margin-left: 20px;
    padding-top: 2px;
}
.shop-rating .result span {
    color: #FF6D02;
}
.shop-rating .result em {
    color: #FF6600;
    font-family: arial;
    font-weight: bold;
}
.shop-rating .result strong {
    color: #666666;
    font-weight: normal;
}
.rating-level {
    float: left;
    position: relative;
    height: 12px;
    width: 65px;
    margin: 0 0 0 10px;
    padding-left: 0;
    background-position: 0 0;
    z-index: 1000;
}
.rating-level li {
    display: inline;
}
.rating-level a {
    line-height: 12px;
    height: 12px;
    margin: 0 0;
    position: absolute;
    top: 0px;
    left: 0px;
    text-indent: -999em;
    *zoom: 1;
    outline: none;
}
.rating-level a.one-star {
    width: 20%;
    z-index: 6;
}
.rating-level a.two-stars {
    width: 40%;
    z-index: 5;
}
.rating-level a.three-stars {
    width: 60%;
    z-index: 4;
}
.rating-level a.four-stars {
    width: 80%;
    z-index: 3;
}
.rating-level a.five-stars {
    width: 100%;
    z-index: 2;
}
.rating-level .current-rating,
.rating-level a:hover {
    background-position: 0 -12px;
}
.rating-level a.one-star:hover,
.rating-level a.two-stars:hover,
.rating-level a.one-star.current-rating,
.rating-level a.two-stars.current-rating {
    background-position: 0 -12px;
}
.rating-level .three-stars .current-rating,
.rating-level .four-stars .current-rating,
.rating-level .five-stars .current-rating {
    background-position: 0 -12px;
}